<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Project Management Tool| Dashboard</title>
    <link rel="stylesheet" href="css/general.css">

</head>
<body>
    <div th:replace="fragments/header :: header"></div>
    <div class="section1">
        <div class="section1-1">
            <div th:if="${session.user != null}">
                <div class="heading">Welcome to Project Manager Tool.</div>
                <div class="subheading">Start creating your projects now and share with your colleagues!
                    All your work is done and information stored on the internet cloud.
                    No program or data is stored on your computer.
                    Consequently, the user can access Project Manager Tool from anywhere 24 x 7.
                    <br> Start planning now!
                </div>
            </div>
        </div>
    </div>

    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>